/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  height: 100%;
}

#navbar {
  padding: 1rem;
  background-color: coral;

  > a {
    color: white;
    text-decoration: none;
  }
}
